<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #cce6ed;">
  <a class="navbar-brand" href="#">
    <img src="https://3.bp.blogspot.com/-wNBgAfRVsag/XJPxeL-NY3I/AAAAAAAAJRM/NfJn04otlzM0gyUhV8sj_w_ak0wuZQPpACK4BGAYYCw/s640/logo%2Bbootstrap%2Bicon.png" 
    width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/class">Class</a>
      <a class="nav-item nav-link" href="/student">Student</a>
      <a class="nav-item nav-link" href="/instructor">Instructor</a>
    </div>
  </div>
</nav>
