<div class="container">
  <div class="card">
    <div class="card-header">Form Update Class</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Class name</label>
          <input type="text" class="form-control" placeholder="class name">
        </div>
        <div class="form-group">
          <label>Class quota</label>
          <input type="number" class="form-control" placeholder="class quota">
        </div>
        <div class="form-group">
          <label>Class duration</label>
          <input type="number" class="form-control" placeholder="class duration">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" (click)="back()">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>